
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="@Url.Content("~/css/bootstrap.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/css/style.css")" rel="stylesheet" type="text/css" />

    <title>Hello</title>
</head>
<body>
    <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
        @Html.Partial("~/Views/Shared/topbar.cshtml")
        @Html.Partial("~/Views/Shared/leftmenu.cshtml")
    </nav>
    <div class="footer">
        my footer
    </div>
</body>
</html>
